<table>
  <thead>
    <tr>
      <th (click)="orderBy('date')">Fecha</th>
      <th>Tipo</th>
      <th>Categoría</th>
      <th (click)="orderBy('amount')">Importe</th>
      <th>Editor</th>
      <th>Enlace a editor</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of movementsService.movements ">
      <td>{{stringToDate(m.date) | date:"dd-MM-yyyy"}}</td>
      <td>{{m.kind}}</td>
      <td>{{m.category}}</td>
      <td [ngClass]="{positive: m.kind == 'Ingreso', negative: m.kind == 'Gasto'}">{{m.amount | number}} €</td>
      <td><button type="button" (click)="select(m)">Editar</button></td>
      <td><a [routerLink]="['/movimiento', m.id]">{{m.id}}</a></td>
    </tr>
  </tbody>
</table>
